<div class="exception-body notfound">
    <div class="exception-content">
        <div class="moon"><img src="assets/images/asset-moon.svg" alt="mirage-layout"></div>
        <div class="exception-panel">
            <div class="exception-panel-content"><span class="tag">404</span>
                <h1>Sayfa Bulunamadı</h1>
                <div class="seperator"></div>
                <p>Aradığınız kaynak bulunamadı. Lütfen daha sonra tekrar deneyiniz.</p>
                <button pButton label="Anasayfaya Git" (click)="goToDashboard()"></button>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>