<span class="p-float-label">
    <p-autoComplete [formControl]="control!" [suggestions]="suggestions" [multiple]="multiple"
        (completeMethod)="filterData($event)" [completeOnFocus]="true" (onKeyUp)="filterData($event)"
        [dropdownMode]="dropdownMode" (onSelect)="onSelectItem($event)" [field]="field" [class]="class" [style]="style"
        [dataKey]="dataKey" [dropdown]="true" [showEmptyMessage]="true" [emptyMessage]="'Kayıt bulunamadı.'">
    </p-autoComplete>
    <label *ngIf="label" [for]="inputId">{{label}}</label>
</span>
<ng-container *ngIf="control&& !control.valid&&(control.touched || control.dirty) && control.errors">
    <small style="color: red;" *ngIf="control.errors?.['required']">{{label}} alanı zorunludur</small>
</ng-container>