:host ::ng-deep {
    .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label textarea:focus ~ label,
    .p-float-label textarea.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label {
        top: 10px;
        font-size: 12px;
        background: white;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .p-autocomplete {
        width: 100%;
        padding-top: 8px !important;
    }
    .p-autocomplete .p-autocomplete-panel {
        top: 48px !important;
        z-index: 999999;
    }
}
