.widget-overview-box .overview-box-text p {
    color: #dcf2f9;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}
.widget-overview-box.overview-box-1 .overview-box-text p {
    color: #dcf2f9;
}
