<div class="p-card p-grid col-12" *ngIf="(language$ | async)">
    <form [formGroup]="formPage" (ngSubmit)="savePage()">
        <dialog-buttons [saveDisabled]="formPage.invalid" (onCancel)="closeDialog()"></dialog-buttons>
        <p-tabView>
            <p-tabPanel [header]="translate('Common.General')">
                <div class="grid d-flex ai-center">
                    <div class="col-12">
                        <mav-input formControlName="activity" [label]="translate('Common.Activity')" type="switch">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-autocomplete formControlName="category" suggestionUrl="/Category/GetDropdownList"
                            [label]="translate('Category.ControllerTitle')">
                        </mav-autocomplete>
                    </div>
                    <div class="col-6">
                        <mav-autocomplete formControlName="parentPage" suggestionUrl="/Page/GetDropdownList"
                            [label]="translate('Page.ParentPage')">
                        </mav-autocomplete>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel formArrayName="pageTrans" [header]="getLanguageName(group.value.languageId)"
                *ngFor="let group of getPageTransFormArray let i = index;">
                <ng-container [formGroupName]="i">
                    <div class="grid">
                        <div class="col-6">
                            <mav-input formControlName="name" [label]="translate('Common.Name')">
                            </mav-input>
                        </div>
                        <div class="col-6">
                            <mav-input formControlName="summary" [label]="translate('Page.Summary')">
                            </mav-input>
                        </div>
                        <div class="col-12">
                            <p-editor formControlName="content" [style]="{'height':'250px'}"></p-editor>
                        </div>
                        <div class="col-6" *ngIf="group.get('headerPath')!=null">
                            <mav-upload formControlName="headerFile" formControlNamePath="headerPath">
                            </mav-upload>
                        </div>
                        <div class="col-6" *ngIf="group.get('backgroundPath')!=null">
                            <mav-upload formControlName="backgroundFile" formControlNamePath="backgroundPath">
                            </mav-upload>
                        </div>
                    </div>
                    <h5>{{translate('Page.SeoArea')}}</h5>
                    <div class="grid">
                        <div class="col-6">
                            <mav-input formControlName="ogTitle" [label]="translate('Page.OgTitle')">
                            </mav-input>
                        </div>
                        <div class="col-5">
                            <mav-input formControlName="ogType" [label]="translate('Page.OgType')">
                            </mav-input>
                        </div>
                        <div class="col-1">
                            <button pButton pRipple type="button" [pTooltip]="translate('Page.OpenOgTypes')" tooltipPosition="top"
                                icon="pi pi-info" class="p-button-rounded p-button-secondary p-button-outlined"
                                (click)="openTypes()"></button>
                        </div>
                        <div class="col-12">
                            <mav-input formControlName="ogDescription" [label]="translate('Page.OgDescription')">
                            </mav-input>
                        </div>
                        <div class="col-6" *ngIf="group.get('ogImagePath')!=null">
                            <mav-upload formControlName="ogImageFile" formControlNamePath="ogImagePath">
                            </mav-upload>
                        </div>
                    </div>
                </ng-container>
            </p-tabPanel>
        </p-tabView>
    </form>
</div>
<p-toast position="top-right" key="page-toast" [baseZIndex]="9999999"></p-toast>