<div class="p-card p-grid col-12" *ngIf="(language$ | async) && formGeneralSettings!=null">
    <form [formGroup]="formGeneralSettings">
        <dialog-buttons [saveDisabled]="formGeneralSettings.invalid || !formGeneralSettings.dirty"
            (onSave)="saveGeneralSettings()" [showCancelButton]="false"></dialog-buttons>
        <p-tabView>
            <p-tabPanel [header]="translate('Common.General')">
                <div class="grid">
                    <div class="col-6">
                        <mav-autocomplete formControlName="testimonailSlide" suggestionUrl="/Slide/GetDropdownList"
                            [label]="translate('GeneralSettings.TestimonailSlide')">
                        </mav-autocomplete>
                    </div>
                </div>
                <h5>{{translate('GeneralSettings.ContactPage')}}</h5>
                <div class="grid d-flex ai-center">
                    <div class="col-6">
                        <mav-input formControlName="supportMail" [label]="translate('GeneralSettings.SupportMail')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="contactAddress" type="textarea"
                            [label]="translate('GeneralSettings.ContactAddress')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="contactPhone" type="phone"
                            [label]="translate('GeneralSettings.ContactPhone')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="contactWhatsApp" type="phone"
                            [label]="translate('GeneralSettings.ContactWhatsApp')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="googleMapUrl" [label]="translate('GeneralSettings.GoogleMapUrl')">
                        </mav-input>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel formArrayName="generalSettingsTrans" [header]="getLanguageName(group.value.languageId)"
                *ngFor="let group of getGeneralSettingsTransFormArray let i = index;">
                <ng-container [formGroupName]="i">
                    <div class="grid">
                        <div class="col-6">
                            <mav-input formControlName="aboutUs" type="textarea"
                                [label]="translate('GeneralSettings.AboutUs')">
                            </mav-input>
                        </div>
                        <div class="col-6" *ngIf="group.get('logoPath')!=null">
                            <mav-upload formControlName="logoFile"
                                [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.Logo')"
                                formControlNamePath="logoPath">
                            </mav-upload>
                        </div>
                        <div class="col-6" *ngIf="group.get('icoPath')!=null">
                            <mav-upload formControlName="icoFile"
                                [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.Ico')"
                                formControlNamePath="icoPath">
                            </mav-upload>
                        </div>
                    </div>
                    <h5>{{translate('GeneralSettings.SeoArea')}}</h5>
                    <div class="grid">
                        <div class="col-6">
                            <mav-input formControlName="homeOgTitle" [label]="translate('GeneralSettings.HomeOgTitle')">
                            </mav-input>
                        </div>
                        <div class="col-6">
                            <mav-input formControlName="homeOgDescription"
                                [label]="translate('GeneralSettings.HomeOgDescription')">
                            </mav-input>
                        </div>
                        <div class="col-6">
                            <mav-input formControlName="contactOgTitle"
                                [label]="translate('GeneralSettings.ContactOgTitle')">
                            </mav-input>
                        </div>
                        <div class="col-6">
                            <mav-input formControlName="contactOgDescription"
                                [label]="translate('GeneralSettings.ContactOgDescription')">
                            </mav-input>
                        </div>
                        <div class="col-6" *ngIf="group.get('homeOgImage')!=null">
                            <mav-upload formControlName="homeOgFile"
                                [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.HomeOgImage')"
                                formControlNamePath="homeOgImage">
                            </mav-upload>
                        </div>
                        <div class="col-6" *ngIf="group.get('contactOgImage')!=null">
                            <mav-upload formControlName="contactOgFile"
                                [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.ContactOgImage')"
                                formControlNamePath="contactOgImage">
                            </mav-upload>
                        </div>
                    </div>
                </ng-container>
            </p-tabPanel>
        </p-tabView>
    </form>
</div>
<p-toast position="top-right" key="page-toast" [baseZIndex]="9999999"></p-toast>

<p-toast position="top-right" [baseZIndex]="9999999"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" acceptLabel="Evet" rejectLabel="Hayır">
</p-confirmDialog>