<div class="p-card p-grid col-12" *ngIf="(language$ | async) && formGeneralSettings!=null">
    <form [formGroup]="formGeneralSettings">
        <dialog-buttons [saveDisabled]="formGeneralSettings.invalid || !formGeneralSettings.dirty"
            (onSave)="saveGeneralSettings()" [showCancelButton]="false"></dialog-buttons>
        <p-tabView>
            <p-tabPanel [header]="translate('Common.General')">
                <div class="grid">
                    <div class="col-6">
                        <mav-autocomplete formControlName="testimonialSlide" suggestionUrl="/Slide/GetDropdownList"
                            [label]="translate('GeneralSettings.TestimonailSlide')">
                        </mav-autocomplete>
                    </div>
                </div>
                <h5>{{translate('GeneralSettings.ContactPage')}}</h5>
                <div class="grid d-flex ai-center">
                    <div class="col-6">
                        <mav-input formControlName="supportMail" [label]="translate('GeneralSettings.SupportMail')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="contactAddress" type="textarea"
                            [label]="translate('GeneralSettings.ContactAddress')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="contactPhone" type="phone"
                            [label]="translate('GeneralSettings.ContactPhone')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="contactWhatsApp" type="phone"
                            [label]="translate('GeneralSettings.ContactWhatsApp')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="googleMapUrl" [label]="translate('GeneralSettings.GoogleMapUrl')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="linkedInURL" [label]="translate('GeneralSettings.LinkedInUrl')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="facebookURL" [label]="translate('GeneralSettings.FacebookUrl')">
                        </mav-input>
                    </div>
                    <div class="col-6">
                        <mav-input formControlName="instagramURL" [label]="translate('GeneralSettings.InstagramUrl')">
                        </mav-input>
                    </div>
                    <p-accordion>
                        <p-accordionTab [header]="translate('GeneralSettings.Projects')">
                            <div class="grid">
                                <div class="col-4">
                                    <mav-input formControlName="yearsOfExperienced" type="numeric"
                                        [label]="translate('GeneralSettings.YearsOfExperienced')">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="projectDone" type="numeric"
                                        [label]="translate('GeneralSettings.ProjectDone')">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="happyCustomer" type="numeric"
                                        [label]="translate('GeneralSettings.HappyCustomer')">
                                    </mav-input>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </p-tabPanel>
            <p-tabPanel formArrayName="generalSettingsTrans" [header]="getLanguageName(group.value.languageId)"
                *ngFor="let group of getGeneralSettingsTransFormArray let i = index;">
                <ng-container [formGroupName]="i">
                    <div class="grid">
                        <div class="col-6">
                            <mav-input formControlName="aboutUs" type="textarea"
                                [label]="translate('GeneralSettings.AboutUs')">
                            </mav-input>
                        </div>
                        <div class="col-6" *ngIf="group.get('logoPath')!=null">
                            <mav-upload formControlName="logoFile"
                                [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.Logo')"
                                formControlNamePath="logoPath">
                            </mav-upload>
                        </div>
                        <div class="col-6" *ngIf="group.get('icoPath')!=null">
                            <mav-upload formControlName="icoFile"
                                [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.Ico')"
                                formControlNamePath="icoPath">
                            </mav-upload>
                        </div>
                    </div>
                    <p-accordion>
                        <p-accordionTab [header]="translate('GeneralSettings.SeoArea')">
                            <div class="grid">
                                <div class="col-6">
                                    <mav-input formControlName="homeOgTitle"
                                        [label]="translate('GeneralSettings.HomeOgTitle')">
                                    </mav-input>
                                </div>
                                <div class="col-6">
                                    <mav-input formControlName="homeOgDescription"
                                        [label]="translate('GeneralSettings.HomeOgDescription')">
                                    </mav-input>
                                </div>
                                <div class="col-6">
                                    <mav-input formControlName="contactOgTitle"
                                        [label]="translate('GeneralSettings.ContactOgTitle')">
                                    </mav-input>
                                </div>
                                <div class="col-6">
                                    <mav-input formControlName="contactOgDescription"
                                        [label]="translate('GeneralSettings.ContactOgDescription')">
                                    </mav-input>
                                </div>
                                <div class="col-6" *ngIf="group.get('homeOgImage')!=null">
                                    <mav-upload formControlName="homeOgFile"
                                        [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.HomeOgImage')"
                                        formControlNamePath="homeOgImage">
                                    </mav-upload>
                                </div>
                                <div class="col-6" *ngIf="group.get('contactOgImage')!=null">
                                    <mav-upload formControlName="contactOgFile"
                                        [chooseLabel]="translate('Common.Choose') | stringFormat: translate('GeneralSettings.ContactOgImage')"
                                        formControlNamePath="contactOgImage">
                                    </mav-upload>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab [header]="translate('GeneralSettings.HomeInfoArea')">
                            <div class="grid">
                                <div class="col-4">
                                    <mav-input formControlName="info1Icon"
                                        [label]="translate('GeneralSettings.InfoIcon') + '1'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info1Title"
                                        [label]="translate('GeneralSettings.InfoTitle') + '1'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info1Description"
                                        [label]="translate('GeneralSettings.InfoDescription') + '1'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info2Icon"
                                        [label]="translate('GeneralSettings.InfoIcon') + '2'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info2Title"
                                        [label]="translate('GeneralSettings.InfoTitle') + '2'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info2Description"
                                        [label]="translate('GeneralSettings.InfoDescription') + '2'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info3Icon"
                                        [label]="translate('GeneralSettings.InfoIcon') + '3'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info3Title"
                                        [label]="translate('GeneralSettings.InfoTitle') + '3'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info3Description"
                                        [label]="translate('GeneralSettings.InfoDescription') + '3'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info4Icon"
                                        [label]="translate('GeneralSettings.InfoIcon') + '4'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info4Title"
                                        [label]="translate('GeneralSettings.InfoTitle') + '4'">
                                    </mav-input>
                                </div>
                                <div class="col-4">
                                    <mav-input formControlName="info4Description"
                                        [label]="translate('GeneralSettings.InfoDescription') + '4'">
                                    </mav-input>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </ng-container>
            </p-tabPanel>
        </p-tabView>
    </form>
</div>
<p-toast position="top-right" key="page-toast" [baseZIndex]="9999999"></p-toast>

<p-toast position="top-right" [baseZIndex]="9999999"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" acceptLabel="Evet" rejectLabel="Hayır">
</p-confirmDialog>