<ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'text'">
        <span [class]="'p-float-label'+(icon?'p-input-icon-'+iconPosition:'')">
            <input [id]="inputId" type="text" pInputText [formControl]="control" [class]="class" [style]="style"
                [autocomplete]="autocomplete" (input)="onInput($event)" (blur)="blur()" (keydown)="keydown($event)"
                (keyup)="keyup($event)" [class.ng-invalid]="!control.valid" [class.ng-dirty]="control.dirty">
            <label *ngIf="label" [for]="inputId">{{label}}</label>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'textarea'">
        <span class="p-float-label">
            <textarea [id]="inputId" [rows]="rows" [cols]="cols" [formControl]="control" pInputTextarea [class]="class"
                [style]="style" [autocomplete]="autocomplete" (input)="onInput($event)" (blur)="blur()"
                (keydown)="keydown($event)" (keyup)="keyup($event)" [class.ng-invalid]="!control.valid"
                [class.ng-dirty]="control.dirty"></textarea>
            <label *ngIf="label" [for]="inputId">{{label}}</label>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'numeric'">
        <label *ngIf="label" [for]="inputId">{{label}}</label>
        <p-inputNumber [formControl]="control" [inputId]="inputId" [mode]="mode" locale="tr-TR" currency="TRY"
            [min]="min" [max]="max" [minFractionDigits]="2" [maxFractionDigits]="2" [class]="class" [style]="style"
            [autocomplete]="autocomplete" (input)="onInput($event)" (blur)="blur()" (keydown)="keydown($event)"
            (keyup)="keyup($event)" [class.ng-invalid]="!control.valid" [class.ng-dirty]="control.dirty">
        </p-inputNumber>
    </ng-container>
    <ng-container *ngSwitchCase="'switch'">
        <label *ngIf="label" [for]="inputId" style="display: block;" class="mb-2">{{label}}</label>
        <p-inputSwitch [formControl]="control" [inputId]="inputId" [class]="class" [style]="style"
            (input)="onInput($event)" (blur)="blur()" (keydown)="keydown($event)" (keyup)="keyup($event)"
            (onChange)="change($event)" [class.ng-invalid]="!control.valid" [class.ng-dirty]="control.dirty">
        </p-inputSwitch>
    </ng-container>
    <ng-container *ngSwitchCase="'nullcheckbox'">
        <label *ngIf="label" [for]="inputId" style="display: block;" class="mb-2">{{label}}</label>
        <p-triStateCheckbox [formControl]="control" [inputId]="inputId" [class]="class" [style]="style"
            (input)="onInput($event)" (blur)="blur()" (keydown)="keydown($event)" (keyup)="keyup($event)"
            (onChange)="change($event)" [class.ng-invalid]="!control.valid" [class.ng-dirty]="control.dirty">
        </p-triStateCheckbox>
    </ng-container>
    <ng-container *ngSwitchCase="'binarycheckbox'">
        <div class="p-field-checkbox">
            <p-checkbox [formControl]="control" [inputId]="inputId" [class]="class" [style]="style" [binary]="true"
                (input)="onInput($event)" (blur)="blur()" (keydown)="keydown($event)" (keyup)="keyup($event)"
                (onChange)="change($event)" [class.ng-invalid]="!control.valid" [class.ng-dirty]="control.dirty">
            </p-checkbox>
            <label *ngIf="label" [for]="inputId">{{label}}</label>
        </div>
        <label *ngIf="label" [for]="inputId" style="display: block;" class="mb-2">{{label}}</label>
        <p-triStateCheckbox [formControl]="control" [inputId]="inputId" [class]="class" [style]="style"
            (input)="onInput($event)" (blur)="blur()" (keydown)="keydown($event)" (keyup)="keyup($event)"
            (onChange)="change($event)" [class.ng-invalid]="!control.valid" [class.ng-dirty]="control.dirty">
        </p-triStateCheckbox>
    </ng-container>
    <ng-container *ngSwitchDefault>
        input bulunamadı
    </ng-container>
</ng-container>
<ng-container *ngIf="control&& !control.valid&&(control.touched || control.dirty) && control.errors">
    <small style="color: red;" *ngIf="control.errors?.['required']">{{label}} alanı zorunludur</small>
</ng-container>