<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <div class="layout-topbar-logo-wrapper"><a class="layout-topbar-logo"><img
                        src="assets/images/mavzerbay-logo.png" alt="mavzerbay"><span
                        class="app-name">Mavzerbay</span></a>
            </div>
            <a href="#" class="sidebar-menu-button" (click)="toggleSideBarActive()">
                <i class="pi pi-bars"></i></a>
            <a href="#" class="topbar-menu-mobile-button" (click)="toggleTopBarActive()">
                <i class="pi pi-ellipsis-v"></i></a>
        </div>
        <div class="layout-topbar-right fadeInDown">
            <ul class="layout-topbar-actions">
                <!-- <li appTopbarItem class="topbar-item"><a href="#"><i class="topbar-icon pi pi-inbox"></i></a>
                    <ul class="fadeInDown">
                        <li class="layout-submenu-header">
                            <h1>Messages</h1><span>Today, you have new 4 messages</span>
                        </li>
                        <li class="layout-submenu-item"><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay"
                                width="35">
                            <div class="menu-text">
                                <p>Override the digital divide</p><span>Cayla Brister</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li class="layout-submenu-item"><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay"
                                width="35">
                            <div class="menu-text">
                                <p>Nanotechnology immersion</p><span>Gabie Sheber</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li class="layout-submenu-item"><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay"
                                width="35">
                            <div class="menu-text">
                                <p>User generated content</p><span>Gaspar Antunes</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li class="layout-submenu-item"><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay"
                                width="35">
                            <div class="menu-text">
                                <p>The holistic world view</p><span>Tatiana Gagelman</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                    </ul>
                </li> -->
                <!-- <li appTopbarItem class="topbar-item"><a href="#"><i class="topbar-icon pi pi-envelope"></i></a>
                    <ul class="fadeInDown">
                        <li class="layout-submenu-header">
                            <h1>Deals</h1>
                        </li>
                        <li class="deals">
                            <ul>
                                <li><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="35">
                                    <div class="menu-text">
                                        <p>Sapphire</p><span>Angular</span>
                                    </div><i class="pi pi-angle-right"></i>
                                </li>
                                <li><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="35">
                                    <div class="menu-text">
                                        <p>Roma</p><span>Minimalism</span>
                                    </div><i class="pi pi-angle-right"></i>
                                </li>
                                <li><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="35">
                                    <div class="menu-text">
                                        <p>Babylon</p><span>Powerful</span>
                                    </div><i class="pi pi-angle-right"></i>
                                </li>
                            </ul>
                            <ul>
                                <li><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="35">
                                    <div class="menu-text">
                                        <p>Harmony</p><span>USWDS</span>
                                    </div><i class="pi pi-angle-right"></i>
                                </li>
                                <li><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="35">
                                    <div class="menu-text">
                                        <p>Prestige</p><span>Elegancy</span>
                                    </div><i class="pi pi-angle-right"></i>
                                </li>
                                <li><img src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="35">
                                    <div class="menu-text">
                                        <p>Ultima</p><span>Material</span>
                                    </div><i class="pi pi-angle-right"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
                <li appTopbarItem class="topbar-item profile-item">
                    <a href="#">
                        <span class="profile-image-wrapper">
                            <img *ngIf="(currentUser$ |async)==null || (currentUser$ |async)?.profileImagePath==null"
                                src="assets/images/mavzerbay-logo.png" alt="mavzerbay">
                            <img *ngIf="(currentUser$ |async)!=null && (currentUser$ |async)?.profileImagePath!=null"
                                [src]="(currentUser$ |async)?.profileImagePath"
                                [alt]="(currentUser$ |async)?.nameSurname">
                        </span>
                        <span class="profile-info-wrapper">
                            <h3>{{(currentUser$ |async)?.nameSurname}}</h3>
                            <span *ngIf="getRole!=null">{{getRole}}</span>
                            <span *ngIf="getRole==null"></span>
                        </span>
                    </a>
                    <ul class="profile-item-submenu fadeInDown">
                        <li class="profile-submenu-header p-ai-center">
                            <img *ngIf="(currentUser$ |async)==null || (currentUser$ |async)?.profileImagePath==null"
                                src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="40">
                            <img *ngIf="(currentUser$ |async)!=null && (currentUser$ |async)?.profileImagePath!=null"
                                [src]="(currentUser$ |async)?.profileImagePath"
                                [alt]="(currentUser$ |async)?.nameSurname" width="40">
                            <div class="profile">
                                <h1>{{(currentUser$ |async)?.nameSurname}}</h1>
                                <span *ngIf="getRole!=null">{{getRole}}</span>
                                <span *ngIf="getRole==null"></span>
                            </div>
                        </li>
                        <!-- <li class="layout-submenu-item"><i class="pi pi-list icon icon-1"></i>
                            <div class="menu-text">
                                <p>Tasks</p><span>3 open issues</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li class="layout-submenu-item"><i class="pi pi-shopping-cart icon icon-2"></i>
                            <div class="menu-text">
                                <p>Payments</p><span>24 new</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li class="layout-submenu-item"><i class="pi pi-users icon icon-3"></i>
                            <div class="menu-text">
                                <p>Clients</p><span>+80%</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li> -->
                        <li class="layout-submenu-footer"><button class="signout-button"
                                (click)="logout()">{{translate('Account.SignOut')}}</button></li>
                    </ul>
                </li>
            </ul>
            <ul class="profile-mobile-wrapper">
                <li class="topbar-item profile-item">
                    <a href="#">
                        <span class="profile-image-wrapper">
                            <img *ngIf="(currentUser$ |async)==null || (currentUser$ |async)?.profileImagePath==null"
                                src="assets/images/mavzerbay-logo.png" alt="mavzerbay">
                            <img *ngIf="(currentUser$ |async)!=null && (currentUser$ |async)?.profileImagePath!=null"
                                [src]="(currentUser$ |async)?.profileImagePath"
                                [alt]="(currentUser$ |async)?.nameSurname">
                        </span>
                        <span class="profile-info-wrapper">
                            <h3>{{(currentUser$ |async)?.nameSurname}}</h3>
                            <span *ngIf="getRole!=null">{{getRole}}</span>
                            <span *ngIf="getRole==null"></span>
                        </span>
                    </a>
                    <ul class="fadeInDown">
                        <li class="profile-submenu-header">
                            <div class="performance"><span>Weekly Performance</span><img
                                    src="assets/images/mavzerbay-logo.png" alt="mavzerbay"></div>
                            <div class="profile">
                                <img *ngIf="(currentUser$ |async)==null || (currentUser$ |async)?.profileImagePath==null"
                                    src="assets/images/mavzerbay-logo.png" alt="mavzerbay" width="45">
                                <img *ngIf="(currentUser$ |async)!=null && (currentUser$ |async)?.profileImagePath!=null"
                                    [src]="(currentUser$ |async)?.profileImagePath"
                                    [alt]="(currentUser$ |async)?.nameSurname" width="45">
                                <h1>{{(currentUser$ |async)?.nameSurname}}</h1>
                                <span *ngIf="getRole!=null">{{getRole}}</span>
                                <span *ngIf="getRole==null"></span>
                            </div>
                        </li>
                        <!-- <li><i class="pi pi-list icon icon-1"></i>
                            <div class="menu-text">
                                <p>Tasks</p><span>3 open issues</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li><i class="pi pi-shopping-cart icon icon-2"></i>
                            <div class="menu-text">
                                <p>Payments</p><span>24 new</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li>
                        <li><i class="pi pi-users icon icon-3"></i>
                            <div class="menu-text">
                                <p>Clients</p><span>+80%</span>
                            </div><i class="pi pi-angle-right"></i>
                        </li> -->
                        <li class="layout-submenu-footer"><button
                                class="signout-button">{{translate('Account.SignOut')}}</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>