<div class="login-body layout-light">
    <div class="login-content">
        <div class="login-panel">
            <div class="login-panel-content">
                <div class="logo"><img src="assets/images/mavzerbay-logo.png" alt="layout"></div>
                <h1>Giriş Yapın</h1>
                <p>Hoşgeldiniz, lütfen giriş yapmak için aşağıdaki formu doldurun</p>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="grid">
                        <div class="col-12">
                            <span class="p-float-label p-input-icon-right w-full">
                                <i class="pi pi-user"></i>
                                <input type="text" id="emailOrUserName" autocomplete="username" pInputText
                                    formControlName="emailOrUserName" class="w-full" />
                                <label for="emailOrUserName">{{translate('Common.EmailOrUserName')}}</label>
                            </span>
                        </div>
                        <div class="col-12">
                            <span class="p-float-label p-input-icon-right w-full">
                                <i class="pi pi-lock"></i>
                                <input type="password" id="password" autocomplete="current-password" pInputText
                                    formControlName="password" class="w-full" />
                                <label for="email">{{translate('Common.Password')}}</label>
                            </span>
                        </div>
                        <!-- <div class="col-12 flex justify-content-start">
                            <p-checkbox [label]="translate('Account.RememberMe')" formControlName="rememberMe" [binary]="true">
                            </p-checkbox>
                        </div> -->
                        <div class="col-12 flex justify-content-between align-items-center">
                            <button pbutton type="submit" (click)="login()" [disabled]="loginForm.invalid"
                                class="p-element p-button p-component">
                                <span class="p-button-label">{{translate('Account.Login')}}</span>
                            </button>
                            <a href="#" class="secondary-button">{{translate('Account.ForgetPassword')}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="desert"></div>
    </div>
</div>
<p-toast position="bottom-right" [baseZIndex]="9999999"></p-toast>