<div class="p-grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4" *ngIf="crudLayoutOptions.showToolBar">
                <div class="p-toolbar-group-left ">
                    <button pButton pRipple label="Yeni Kayıt" (click)="newData()" icon="pi pi-plus"
                        class="p-button-success mr-2 mb-2 p-button">
                    </button>
                    <button pButton pRipple label="Seçilenleri Sil" icon="pi pi-trash"
                        class="p-button-danger mb-2 p-button" (click)="deleteSelectedDatas()"
                        [disabled]="!selectedDatas || !selectedDatas.length">
                    </button>
                </div>
                <div class="p-toolbar-group-left" *ngIf="crudLayoutOptions.showSearch">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="filterTableGlobal($event)" placeholder="Ara..." />
                        </span>
                    </div>
                </div>
            </p-toolbar>
            <p-table #dt [value]="dataList" [lazy]="true" (onLazyLoad)="loadData($event)" [(selection)]="selectedDatas"
                [paginator]="true" [rows]="10" [globalFilterFields]="getGlobalFilters" [totalRecords]="totalRecords"
                [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>#</th>
                        <th *ngFor="let col of crudLayoutOptions.cols" [pSortableColumn]="col.field">
                            {{translate(col.fieldHeaderName)}}
                            <p-sortIcon *ngIf="col.field!='crudButtons'" [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <button pButton class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="clearTable()"></button>
                        </th>
                        <th *ngFor="let col of crudLayoutOptions.cols">
                            <!-- <input *ngIf="col.field!='crudButtons'&& (col.type=='text' || col.type=='numeric')"
                                pInputText type="text" (input)="filterTable($event,col.field)"
                                [value]="$any(dt.filters[col.field])?.value" [placeholder]="col.typePlaceHolder"
                                class="p-column-filter"> -->
                            <div class="grid-col-12" #myAutoComplete
                                *ngIf="col.field!='crudButtons' &&col.type!='none' && col.type=='autocomplete' && col.autoCompleteUrl">
                                <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions"
                                    [appendTo]="myAutoComplete" [placeholder]="col.typePlaceHolder!" field="name"
                                    dataKey="id" (completeMethod)="filterData($event,col.autoCompleteUrl)"
                                    [completeOnFocus]="true" (onKeyUp)="filterData($event,col.autoCompleteUrl)"
                                    [dropdown]="true" dropdownMode="current"
                                    (onSelect)="filterTableFromAutoComplete($event,col.autoCompleteSearchName!)"
                                    [inputId]=" col.field" [showEmptyMessage]="true"
                                    [emptyMessage]="'Kayıt bulunamadı.'">
                                </p-autoComplete>
                            </div>
                            <p-columnFilter
                                *ngIf="col.field!='crudButtons' &&col.type!='none' && (col.type=='text' || col.type=='numeric' ||col.type=='boolean')"
                                [type]="col.type" [field]="col.field"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-index="rowIndex">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="data"></p-tableCheckbox>
                        </td>
                        <td>{{index+1}}</td>
                        <td *ngFor="let col of crudLayoutOptions.cols" [class.text-center]="col.pipeName">
                            <ng-container *ngIf="col.field!='crudButtons'">
                                <div class="mav-col-div" mavDataFromKey [data]="data" [mavKey]="col.field"
                                    [pipeName]="col.pipeName">
                                    <span class="p-column-title">{{translate(col.fieldHeaderName)}}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="col.field=='crudButtons'">
                                <span class="p-column-title">{{translate(col.fieldHeaderName)}}</span>
                                <div style="min-width: 65px;">
                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2 crud-button"
                                        (click)="editData(data)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger crud-button"
                                        (click)="deleteData(data)"></button>
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-toast position="top-right" [baseZIndex]="9999999"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" acceptLabel="Evet" rejectLabel="Hayır">
</p-confirmDialog>