<div #sidebar class="layout-sidebar" (mouseover)="toggleActive()" (mouseout)="toggleActive()">
    <div class="sidebar-logo">
        <a style="cursor: pointer;" (click)="toggleLockActiveMenu()" title="Toggle Menu" class="sidebar-pin">
            <i class="pi pi-lock{{isLocked?'':'-open'}} ng-star-inserted"></i>
        </a>
        <a routerlink="/" href="#/">
            <img alt="logo" src="assets/images/mavzerbay-logo.png">
            <span class="app-name">Mavzerbay</span>
        </a>
    </div>
    <div class="layout-menu-container">
        <ul class="layout-menu">
            <!-- active-menuitem -->
            <li routerLinkActive="active-menuitem" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/"><span class="menuitem-text">Anasayfa</span>
                    <i class="layout-menuitem-icon  pi pi-fw pi-home"></i>
                </a>
            </li>
            <li routerLinkActive="active-menuitem" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/Language">
                    <span class="menuitem-text">Dil</span>
                    <i class="layout-menuitem-icon pi pi-fw pi-pencil"></i>
                </a>
            </li>
            <li routerLinkActive="active-menuitem" [routerLinkActiveOptions]="{exact:true}">
                <a routerLink="/Translate">
                    <span class="menuitem-text">Çeviri</span>
                    <i class="layout-menuitem-icon pi pi-fw pi-pencil"></i>
                </a>
            </li>
        </ul>
    </div>
</div>