<div class="layout-breadcrumb">
    <div class="breadcrumb">
        <p-breadcrumb [model]="menuItems" [home]="home"></p-breadcrumb>
        <!-- <div class="route-bar-breadcrumb">
            <li class="ng-star-inserted">
                Pages
            </li>
            <li class="ng-star-inserted"><i class="pi pi-angle-right"></i></li>
            <li class="ng-star-inserted"><a href="#/pages/crud" class="ng-star-inserted">Crud</a>
            </li>
        </div> -->
    </div>
    <div class="notification" *ngIf="(currentUser$ | async)!=null">👋 Hoşgeldin {{(currentUser$ | async)?.name}}, sana gösterebileceğim bildirim
        yok</div>
</div>