<div class="layout-breadcrumb">
    <div class="breadcrumb">
        <div class="route-bar-breadcrumb">
            <li class="ng-star-inserted">
                Pages
            </li>
            <li class="ng-star-inserted"><i class="pi pi-angle-right"></i></li>
            <li class="ng-star-inserted"><a href="#/pages/crud" class="ng-star-inserted">Crud</a>
            </li>
        </div>
    </div>
    <div class="notification">👋 Hoşgeldin Erbay, sana gösterebileceğim bildirim yok</div>
</div>